@mixin btn($fz:16px){
  padding: 14px 20px;
  display: flex;
  align-items: center;
  height: 50px;
  text-transform: uppercase;
  font-size: $fz;
  font-weight: 700;
  gap: 16px;
  @media screen and (min-width: 992px) and (max-width: 1370px){
    font-size: 14px;
    gap: 10px;
    height: 40px;
  }
  @media screen and (min-width: 992px) and (max-width: 1230px){
    padding: 5px 10px;
  }

}
@mixin btn-red{
  @include btn;
  background-color: $red;
  color: white !important;
  border-radius: 10px;
}
@mixin btn-white{
  @include btn;
  color: black !important;
    border-radius: 10px;
  border: 1px solid var(--Gray-dark, #9C9C9C);
}