/* Reset start */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: none;
}
*:hover {
    text-decoration: none ;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif !important;
}
a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color:  transparent;
}
textarea,
input:matches(
  [type="email"],
  [type="number"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="text"],
  [type="url"]
){
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

a:hover,
a:active {
    text-decoration: none ;
    -webkit-tap-highlight-color:  transparent;
}

button {
    border-width: 0;
    border-style: none;
    border-color: transparent;
    font-family: inherit;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

/* Reset end */
